[push]
    default = current
[color]
    ui = true
[core]
    excludesfile = /Users/paulseymour/.gitignore_global
    hooksPath = /Users/paulseymour/.git_hooks
[user]
    name = Paul Seymour
    email = paul.seymour@arcadia.com
