[push]
    default = current
[color]
    ui = true
[core]
    hooksPath = ~/.git_hooks
[user]
    name = Paul Seymour
    email = paul.seymour@arcadia.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
[init]
	defaultBranch = master
